<div class="container shaded">
  <h3>NPMjs.org RSS feed</h3>
  <hr>
  <div class="medium primary btn" id="cf-parent"><a id="connect-feed" href="#">Connect</a></div>
  <span id="statusfeed">Connection closed!</span><br />

  <br />
  <h4>Latest feed:</h4>
  <h5>Title:</h5>
  <div class="default alert"> <span id="feed-title"></span></div>
  <h5>Description:</h5>
  <div class="default alert" id="feed-desc"></div>
  <h5>Author:</h5>
  <div class="default alert" id="feed-author"></div>
  <h5>Date:</h5>
  <div class="default alert" id="feed-date"></div>
</div>

