<div class="container shaded">
  <h3>Connected Peers</h3>
  <hr>
  <div class="medium primary btn" id="peers-parent"><a id="connect-peers" href="#">Connect</a></div>
  <span id="status-peers">Connection closed!</span><br />

  <br />
  <h5>Peers connected right now</h5>
  <div class="default alert" id="peers"></div>
</div>

