<div class="shaded">
  <h3 class="lead">Server Date</h3>
  <hr>
  <div class="medium primary btn" id="d-parent"><a id="connect-date" href="#">Connect</a></div>
  <span id="status-date">Connection closed!</span><br /><br />
  <div class="default alert" id="output-date"></div>
</div>

